.item-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 20px;

    max-width: 1200px;
    width: 100%;
    min-height: 50vh;
}

.card {
    background-color: #eaeaec;
    padding: 20px;
    text-align: center;
}