.item-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 20px;
    padding: 20px 40px;
    width: 100%;

    min-height: 40vh;
}

.card {
    background-color: #eaeaec;
    padding: 20px;
    text-align: center;
    min-height: 40vh;
}

.dji-class {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-height: 300px;
}

.dji-model {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dji-class p {
    margin: 0;
    padding: 0;
}

.dji-model img {
    display: flex;
    justify-content: center;
    width: 5rem;
}

.product-image {
    position: absolute;
    justify-content: center;
    object-fit: contain;
    bottom: 0;
    width: 60%;
}

.dji-buttons {
    margin-top: 1rem;
}