.hero.switch {
  background-color: #e60012;
}

.hero-content.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.switch-img-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;
}

.switch-img1 {
  min-width: 683px;
}

.learn-more-btn.switch-btn1 {
  background-color: #fff;
}

.learn-more-btn.switch-btn1 a {
  color: #0071e3;
}

.learn-more-btn.switch-btn1:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.2s ease;
}

.shop-now-btn.switch-btn2 {
  border: 1px solid #fff;
}

.shop-now-btn.switch-btn2 {
  border: 1px solid #fff;
  color: #fff;
}

.shop-now-btn.switch-btn2:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #0071e3;
  transition:
    border,
    color,
    0.2 ease;
}
